.img-fluide {
    position: relative;
}

.text-white {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.nav-link {
    width: 150px;
    height: 50px;
}
header {
    background: black;
}
.card-body {
    background: #E77471;
}