
.thumbnail {
    position: relative;
}
.caption {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        color: white;
        font-size: 50px;
    }
@media screen and (max-width: 1280px) {
    .caption {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
        color: black;
        font-size: 20px;
    }
}
.nav-link {
    width: 150px;
    height: 50px;
}
.card-body {
    background: #E77471;
}
footer {
    background: #D1D0CE;
}

.img-responsive {
    border-radius:50px;
}